

.container-fluid{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

#informacoes{
    text-align: center;
}

#meio{
    background-color: currentColor;
    padding: 30px;
    width: 70%;

}

#primeirocartao{
align-items: center;



}

h6, .h6{
text-align: center;
font-size: 100px;
}