<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registrador de Pedidos</title>
      <link rel="stylesheet" href="../static/bootstrap.css">
      <link rel="stylesheet" href="/static/css/custom.css"> <!-- Inclua seu arquivo CSS personalizado após o Bootstrap -->


  </head>
  <body>
  <div class="container">
      {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul id="messages" class="list-unstyled">
                        {% for message in messages %}
                            <li class="alert alert-warning">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
      {% endwith %}
  </div>
<div class = "Header">
    <section>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid" id="menu">
            <a class="navbar-brand" href="/dashboard">GEREMISTER</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      CLIENTES
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                      <li><a class="dropdown-item" href="/clientes">CLIENTES</a></li>
                      <li><a class="dropdown-item" href="/faturas">FATURAS</a></li>
                      <li><a class="dropdown-item" href="/atualizar">ATUALIZAR PLANO</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      PLANOS
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                      <li><a class="dropdown-item" href="/planos">BASIC</a></li>
                      <li><a class="dropdown-item" href="/planos">PREMIUM</a></li>
                    </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </section>
</div>
<div class="card card-body" id="primeirocartao">
    <div class="meio card" id="meio">
        <div class="card" style="padding: 10%;text-align: center;">
          <form action="/atualiza" method="post">
            <fieldset>
                 <div class="form-group">
                <label for="CPF">DIGITE O CPF DO CLIENTE PARA VERIFICAÇÃO:</label>
                <input type="text" id="CPF" name="CPF" class="form-control" style="text-align: center;">
            </div>
              <div class="form-group">
                <label for="PLANO">ESCOLHA O NOVO PLANO DO CLIENTE</label>
                <select id="PLANO" name="PLANO" class="form-control" style="text-align: center;">
                    <option value="BASIC">BASIC</option>
                    <option value="PREMIUM">PREMIUM</option>
                </select>
              </div>
              <button type="submit" class="btn btn-outline-primary btn-sm">Salvar atualização</button>
            </fieldset>
          </form>
        </div>
    </div>
</div>
</body>
<script src="../static/bootstrap.js"></script>
<script>
  // Remova as mensagens após 3 segundos (3000 milissegundos)
  setTimeout(function () {
    var messages = document.getElementById("messages");
    if (messages) {
      messages.innerHTML = "";
    }
  }, 5000);
</script>
</html>